.helvetica
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box-offering, .box-vendor
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-logo
{
    padding: 20px 0px;
}

.service-desc
{
    color: #494949;
    font-size: 23px;
}

.input-email::-webkit-input-placeholder, .input-password::-webkit-input-placeholder, 
.input-productname::-webkit-input-placeholder, .input-productname2::-webkit-input-placeholder
{
   color: #b5b8bb;
}

.input-email:-moz-placeholder, .input-password:-moz-placeholder,
.input-productname::-moz-placeholder, .input-productname2::-moz-placeholder
{ /* Firefox 18- */
   color: #b5b8bb;  
}

.input-email::-moz-placeholder, .input-password::-moz-placeholder,
.input-productname::-moz-placeholder, .input-productname2::-moz-placeholder
{  /* Firefox 19+ */
   color: #b5b8bb;  
}

.input-email:-ms-input-placeholder, .input-password:-ms-input-placeholder,
.input-productname:-ms-input-placeholder, .input-productname2:-ms-input-placeholder
{  
   color: #b5b8bb;  
}

.input-productname
{
    width: 100%;
    margin-top: 15px;
}

/*spinner number & select uom input*/
.spinner {
  width: 100%;
}
.spinner input {
  text-align: left;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;

  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  height: 0px;
}
.input-group-btn-vertical > .btn:first-child {
  border-radius: 0px;
  color: #fda739;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-radius: 0px;
  color: #fda739;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.btn-general-orange, .btn-general-white.active
{
    background-color: #ffa826;
    color: #ffffff;
    width: 100%;
    padding: 5px 20px;
    margin: 0px;
    text-align: center;
}

.btn-general-white
{
    background: #ffffff;
    color: #494949;
    width: 100%;
    padding: 5px 20px;
    margin: 0px;
    text-align: center;
}

.input-number
{
    border-radius: 0px !important;
    border-right: transparent;

    padding: 17px 10px;
}
select.product-uom {
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  line-height: 1;
  outline: 0;
  padding: 11px 10px;
  border-radius: 0px;
  background: linear-gradient(#a6a6a6, #a6a6a6) no-repeat, linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(#fca739, #fca739) no-repeat;
  width: 100%;
  background-size: 0px 100%, 20px 27px, 23px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

select.product-filter 
{
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  line-height: 1;
  outline: 0;
  padding: 11px 10px;
  border-radius: 0px;
  background: linear-gradient(#a6a6a6, #a6a6a6) no-repeat, linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(#fca739, #fca739) no-repeat;
  width: 100%;
  background-size: 0px 100%, 20px 27px, 23px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;  
  border: 1px solid #e0e8f1
}

.btn-offering
{
    background-color: #ffa826;
    color: #ffffff;
    width: 220px;
    padding: 10px 20px;
    margin: 5px 25px;
}

/*Standard CSS*/
.font-0
{
    font-size: 0px;
}

.font-8
{
	font-size: 8px;
}

.font-10
{
	font-size: 10px;
}

.font-12
{
	font-size: 12px;
}

.font-13
{
    font-size: 13px;
}

.font-14
{
	font-size: 14px;
}

.font-16
{
	font-size: 16px;
}

.font-18
{
	font-size: 18px;
}

.font-19
{
    font-size: 19px;
}

.font-20
{
	font-size: 20px;
}

.font-25
{
	font-size: 25px;
}

.font-30
{
	font-size: 30px;
}

.font-40
{
    font-size: 40px;
}

.font-47
{
    font-size: 47px;
}

.space-7
{
    height: 7px;
}

.space-10
{
	height: 10px;
}

.space-12
{
    height: 12px;
}

.space-15
{
	height: 15px;
}

.space-20
{
	height: 20px;
}

.space-25
{
	height: 25px;
}

.space-30
{
	height: 30px;
}

.space-35
{
	height: 35px;
}

.space-40
{
	height: 40px;
}

.space-50
{
	height: 50px;
}

.space-60
{
	height: 60px;
}

.space-100
{
	height: 100px;
}

.space-m-110
{
    min-height: 110px !important;
}

.space-m-170
{
    min-height: 170px !important;
}

.space-185
{
    height: 185px;
}

.space-200
{
	height: 200px;
}

.space-230
{
    height: 230px;
}

.line-space-15
{
	line-height: 15px;
}

.line-space-17
{
	line-height: 17px;
}

.line-space-20
{
	line-height: 20px;
}

.line-space-30
{
	line-height: 30px;
}

.line-height-47
{
    line-height: 47px;
}

.no-padding
{
	padding: 0px !important;
}

.no-padding-r
{
	padding-right: 0px !important;
}

.no-padding-l
{
	padding-left: 0px !important;
}

.padding-1
{
	padding: 1px;
}

.padding-3
{
    padding: 3px;
}

.padding-5
{
    padding: 5px !important;
}

.padding-7
{
    padding: 7px;
}

.padding-10
{
	padding: 10px;
}

.padding-15
{
	padding: 15px;
}

.padding-20
{
	padding: 20px;
}

.padding-25
{
	padding: 25px;
}

.padding-t-5
{
    padding-top: 5px !important;
}

.padding-t-8
{
    padding-top: 8px !important;
}

.padding-t-10
{
	padding-top: 10px !important;
}

.padding-t-15
{
	padding-top: 15px !important;
}

.padding-t-20
{
    padding-top: 20px !important;
}

.padding-r-5
{
    padding-right: 5px !important;
}

.padding-r-10
{
    padding-right: 10px !important;
}

.padding-r-15
{
    padding-right: 15px !important
}

.padding-l-5
{
	padding-left: 5px !important;
}

.padding-l-10
{
	padding-left: 10px !important;
}

.padding-l-15
{
	padding-left: 15px !important;
}

.padding-b-5
{
	padding-bottom: 5px !important;
}

.padding-b-10
{
	padding-bottom: 10px !important;
}

.padding-b-15
{
    padding-bottom: 15px !important;
}

.padding-b-20
{
	padding-bottom: 20px !important;
}

.padding-b-30
{
	padding-bottom: 30px !important;
}

.padding-updn-5
{
    padding: 5px 0px !important;
}

.padding-updn-10
{
    padding: 10px 0px !important;
}

.padding-side-20
{
    padding: 0px 20px;
}

.margin-10
{
	margin: 10px
}

.margin-l-10
{
	margin-left: 10px;
}

.margin-r-10
{
	margin-right: 10px;
}

.margin-t-10
{
    margin-top: 10px;
}

.border-trans
{
    border-style: none;
    border-color: transparent;
}

.border-white
{
    border: solid #ffffff 1px;
}

.border-spacegrey
{
    border: solid #d4cece 1px;
}

.border-grey
{
    border: solid #9c9c9c 1px;
}

.border-blue
{
    border: solid #38A0E3 1px;
}

.border-black
{
	border: solid #000000 1px;
}

.border-lightblue
{
	border: solid #bcd2e3 1px;
}

.border-l-orange
{
    border-left: #fda739 solid 6px;
}

.border-radius-5
{
	border-radius: 5px;
}

.border-radius-10
{
    border-radius: 10px;
}

.border-radius-10i
{
    border-radius: 10px !important;
}

.border-radius-20
{
    border-radius: 20px;
}

.border-radius-30
{
    border-radius: 30px;
}

.border-radius-40
{
    border-radius: 40px;
}

.border-radius-50
{
    border-radius: 50px;
}

.border-bottom-white, .border-b-white
{
    border-bottom: solid #ffffff 1px;
}

.border-bottom-grey, .border-b-grey
{
    border-bottom: solid #cbcbcb 1px;
}

.border-bottom-spacegrey, .border-b-spacegrey
{
    border-bottom: solid #d4cece 1px;
}

.border-bottom-black, .border-b-grey
{
    border-bottom: solid #000000 1px;
}

.border-top-spacegrey, .border-t-spacegrey
{
    border-top: solid #d4cece 1px;
}

.border-left-spacegrey, .border-l-spacegrey
{
    border-left: solid #d4cece 1px;
}

.border-right-spacegrey, .border-r-spacegrey
{
    border-right: solid #d4cece 1px;
}

.background-image1, .bg-image1
{
    background-image: url("../../images/main-images/bg-vendor.png");
	background-repeat: no-repeat;
}

.background-softblue, .bg-softblue, .bg-pagenotfound
{
	background-color: #78a5c7;
}

.background-trans, .bg-trans
{
    background-color: transparent !important;
}

.background-white, .bg-white
{
    background-color: #ffffff;
}

.background-black, .bg-black
{
    background-color: #000000;
}

.background-grey, .bg-grey
{
	background-color: #a6a6a6;
}

.background-spacegrey, .bg-spacegrey
{
    background-color: #ededed;
}

.background-lightgrey, .bg-lightgrey
{
    background-color: #f4f4f4;
}

.background-green, .bg-green
{
    background-color: #48c852;
}

.background-softbrown
{
    background-color: #FFF6EB;
}

.background-orange, .bg-orange
{
    background-color: #fda739;
}

.background-yellow, .bg-yellow
{
    background-color: #f6bc28;
}

.input-rounded
{
    border-radius: 40px !important;
}

.input-productname
{
    width: 100%;
    margin-top: 15px;
}

.input-productname2
{
    width: 100%;
}

.margin-auto
{
    margin: auto;
}

.text-left
{
	text-align: left;
}

.text-center
{
	text-align: center;
}

.text-right
{
	text-align: right;
}

.text-justify
{
	text-align: justify;
}

.font-normal
{
	font-style: normal;
}

.font-italic
{
    font-style: italic;
}

.font-bold
{
    font-weight: bold;
}

.font-underline
{
	font-style: underline;
}

.font-w-300
{
	font-weight: 300;
}

.font-white
{
	color: #ffffff !important;
}

.font-light-grey
{
    color: #dddddd !important;
}

.font-grey
{
	color: #a9a9a9 !important;
}

.font-space-grey
{
	color: #7b7b7b !important;
}

.font-black
{
	color: #000000 !important;
}

.font-light-blue
{
	color: #78a5c7 !important;
}

.font-red
{
	color: #f75c5c !important;
}

.font-orange
{
    color: #fda739 !important;
}

.font-yellow
{
    color: #ffba00 !important;
}

/*Overwrite Bootstrape CSS*/
.navbar-default
{
    
    background-color: #ffffff;
    border-color: #ffffff;
    
    padding-top: 10px;
    margin-bottom: 2px;
}

.navbar-brand
{
    padding: 15px 3px 15px 15px;
}

.navbar-brand > img
{
    height: 72px;
    margin-top: -20px;
}

.glyphicon-menu-right
{
    background-color: #fca827;
    padding: 14px 37px 44px 8px;
}

.glyphicon-menu-left
{
    background-color: #fca827;
    padding: 14px 37px 44px 8px;
}

.col7-lg-1, .col7-lg-2, .col7-lg-3, .col7-lg-4, .col7-lg-5, .col7-lg-6, .col7-lg-7,
.col7-md-1, .col7-md-2, .col7-md-3, .col7-md-4, .col7-md-5, .col7-md-6, .col7-md-7,
.col7-sm-1, .col7-sm-2, .col7-sm-3, .col7-sm-4, .col7-sm-5, .col7-sm-6, .col7-sm-7,
.col7-xs-1, .col7-xs-2, .col7-xs-3, .col7-xs-4, .col7-xs-5, .col7-xs-6, .col7-xs-7
{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
/*Large LG*/
@media (min-width: 1200px) {
  .img-offering
  {
    height: 368px;
  }
}

/*Medium MD*/
@media (min-width: 992px) and (max-width: 1199px)
{
  .img-offering
  {
    height: 332;
  }
}

/*Small SM*/
@media (min-width: 768px) and (max-width: 991px) 
{
  .img-offering
  {
    height: 332px;
  }
}